body {
	background: lightblue;
}

/*option {
  width: auto; // Adjustable
  background: green;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

#test-settings{
	border-style: solid;
	float: left;
	width: auto;
	max-width: 25%;
	padding: 10px;
	margin-right: 10px;
}

#run-info{
	border-style: solid;
	float: left;
	padding: 10px;
	width: auto;
}

.command-container{
	border-style: solid;
	float: left;
	padding: 10px;
	margin: 10px;
}