 <!DOCTYPE html>
<html>
<head>
<title>Weathere Machine</title>

<link rel="stylesheet" href="static/css/index.css">

</head>
<body>

<h1>Weather Machine</h1>

<div id="test-settings">
    <h2>Test Settings</h2>

    <form onsubmit="return false">

        <p>
            <label for="ports"><h3>Arduino Port:</h3></label>
            <select id="ports" name="ports">
            </select>
        </p>

        <p>
            <label for="files"><h3>Source file:</h3></label>
            <select id="files" name="files">
            </select>
        </p>

        <h3>Facade:</h3>

        <input type="radio" id="north" name="facade" value="north">
        <label for="north">north</label><br>

        <input type="radio" id="east" name="facade" value="east">
        <label for="east">east</label><br>

        <input type="radio" id="south" name="facade" value="south" checked="checked">
        <label for="south">south</label><br>

        <input type="radio" id="west" name="facade" value="west">
        <label for="west">west</label><br>

        <!--  <input type="radio" id="roof" name="facade" value="roof">
        <label for="roof">roof</label><br> -->

        <!-- NOT FUNCTIONING YET -->
        <h3>Time Range:</h3>
        <p>
            <label for="sd">Start date (D-M-YYYY)</label>
            <input type="text" id="sd" name="sd" value="1-1-1976"><br>
            <label for="st">Start hour (HH)</label>
            <input type="text" id="st" name="st" value="01">
        </p>

        <p>
            <label for="ed">End date (D-M-YYYY)</label>
            <input type="text" id="ed" name="ed" value="12-31-1976"><br>
            <label for="et">End hour (HH)</label>
            <input type="text" id="et" name="et" value="24">
        </p>

        <h3>Time Scale:</h3>

        <input type="radio" id="rt" name="time" value="rt">
        <label for="rt">real time (1 hour = 1 hour)</label><br>

        <input type="radio" id="rt" name="time" value="rt" checked="checked">
        <label for="rt">60X (1 hour = 1 minute)</label><br>

        <input type="radio" id="1s" name="time" value="1s">
        <label for="1s">3600X (roughly 1 hour = 1 second)</label><br>

        <h3>Components:</h3>
        <input type="checkbox" id="lights" name="lights" value="lights" checked>
        <label for="lights">lights</label><br>

        <!-- <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2"> I have a car</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3"> I have a boat</label><br>  -->

        <p>
          <input type="submit" value="Run Program" onclick="formHandling()">
        </p>

    </form>

    <div class="command-container">
        <button type="button" onclick="pauseRun()">Pause</button>
        <button type="button" onclick="stopRun()">Stop</button>
    </div>
    <div class="command-container">
        <button type="button" onclick="shutdown()">Shutdown</button> 
    </div>

</div>


<div id="run-info">
    <h2>Run Info</h2>
    <span id="percent">Percent complete:</span><br>
    <span id="time-ellapsed">Ellapsed time:</span><br>
    <span id="time-remaining">Est. Time remaining:</span><br>

    <h3>Graph</h3>
    Mode: <button id="allData" type="button" onclick="graphMode(0)">All Data</button> <button id="ellapsedData" type="button" onclick="graphMode(1)">Ellapsed Data</button> <button id="recentData" type="button" onclick="graphMode(2)">Recent Data</button>

    <span id='graph'></span>
<!--     <div id="curve_chart" style="width: 900px; height: 500px"></div>
 -->    <div id="chart_div"></div>
    <h3>Most Recent Output</h3>
     <span id="lightOutput">Light:</span><br>


</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="static/js/drawChart.js"></script> 
<script src="static/js/index.js"></script> 

</body>
</html> 