 <!DOCTYPE html>
<html>
<head>
<title>Weathere Machine</title>

<link rel="stylesheet" href="static/css/index.css">

</head>
<body>

<h1>Weather Machine</h1>

<h2>Test Specs</h2>

<h3>Choose files</h3>

<h3>Facade</h3>
<button type="button" class="facade-button" id="north" onclick="setFacade(north)">North</button> 
<button type="button" class="facade-button" id="east" onclick="setFacade(east)">East</button> 
<button type="button" class="facade-button" id="south" onclick="setFacade(south)">South</button> 
<button type="button" class="facade-button" id="west" onclick="setFacade(west)">West</button> 
<button type="button" class="facade-button" id="roof" onclick="setFacade(roof)">Roof</button> 


<h3>Time Scale</h3>
<div id="timescale"></div>

<button type="button" id="run-button" onclick="runProgram()">Run Program</button> 



<h2>Run Info</h2>

<h3>Graph</h3>

 <script src="static/js/index.js"></script> 

</body>
</html> 